* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
} 

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe5e5;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    margin: 20px;
}

.container .tenor-gif-embed {
    display: flex;
    max-width: 200px;
}

.container .btn {
    display: flex;
    gap: 25px;
}

.btn a {
    text-decoration: double;
    color: #111;
    background: #ffffff;
    padding: 10px 25px;
    border-radius: 8px;
    box-shadow: 0.5rem 1rem 3rem hsl(0, 0, 0,0.3);
}

/* Code for falling hearts*/

.hearts {
    font-size: 23px;
    font-weight: bold;
    position: fixed;
    top: -1vh;
    transform: translateY(0%);
    left: 0;
    animation: fall 1s ease-in infinite;
}
@keyframes fall {
    to{
        transform: translateY(250vh);
    }
}

/* Code for colerful hearts trail animation*/

span {
    position: absolute;
    background: url(heart.png) ;
    pointer-events: none;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 100px;
    background-size: cover;
    animation: animate 2s linear infinite;
}
@keyframes animate {
    0%{
        transform: translate(-50%,-50%);
        opacity: 1;
        filter: hue-rotate(0deg);
    }
    100%{
        transform: translate(-50%,-1000%);
        opacity: 0;
        filter: hue-rotate(720deg);
    }
}

/* Code for falling crying face*/

.sad {
    font-size: 23px;
    font-weight: bold;
    position: fixed;
    top: -1vh;
    transform: translateY(0%);
    left: 0;
    animation: fall 1s ease-in infinite;
}
@keyframes fall {
    to{
        transform: translateY(250vh);
    }
}

/* Code for falling angry face*/
.angry {
    font-size: 23px;
    font-weight: bold;
    position: fixed;
    top: -1vh;
    transform: translateY(0%);
    left: 0;
    animation: fall 1s ease-in infinite;
}
@keyframes fall {
    to{
        transform: translateY(250vh);
    }
}

/* Code for falling lady bug*/
.bug {
    font-size: 23px;
    font-weight: bold;
    position: fixed;
    top: -1vh;
    transform: translateY(0%);
    left: 0;
    animation: fall 1s ease-in infinite;
}
@keyframes fall {
    to{
        transform: translateY(250vh);
    }
}

